:root {
    --blue: #5f9ea0;
    --light-blue: #f0f8ff;
    --green: #90ee90;
    --light-green: #98fb98;
    --pink: #e9967a;
    --light-pink: #ffe4c4;
    --brown: #d2691e;
    --light-brown: #deb887;
    --red: #cd5c5c;
    --light-red: #ffb6c1;
    --white: #fffaf0;
}

.dark-mode {
    --primary: var(--blue);
}