:root {
    --blue: #5f9ea0;
    --light-blue: #b7cbdb;
    --green: #90ee90;
    --light-green: #98fb98;
    --pink: #e9967a;
    --light-pink: #ffe4c4;
    --brown: #d2691e;
    --light-brown: #deb887;
    --red: #cc2c2c;
    --light-red: #ffb6c1;
    --white: #fffaf0;
    --black: #292727;
}

.dark-mode {
    --primary: var(--blue);
}

input {
    width: 12em;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    margin-bottom: 5px;
    margin-right: 10px;
}

.converter-dlg {
    width: fit-content;
}

.text-error {
    color: var(--red);
    font-size: medium;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-icon.fa {
    color: var(--red);
    right: 30px;
    position: relative;
    font-size: medium;
    width: 0;
}