.dialog {
    border: 1px solid var(--light-blue);
    padding: 0;
    border-radius: 5px;
    pointer-events: all;
    background: var(--white);
    position: absolute;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-blue);
    padding: 5px;
}

.dialog-header i {
    padding-right: 5px;
    font-size: 18px;
    cursor: pointer;
}

.dialog-content {
    padding: 5px;
}